.u-expandMoreBlack {
  width: 24px !important;
  height: 24px !important;
  background-image: url(../../static/icons/expand_more_black.png);
}
.u-expandLessBlack {
  width: 24px !important;
  height: 24px !important;
  background-image: url(../../static/icons/expand_less_black.png);
}