.u-fixed {
  position: fixed !important;
}
.u-relative {
  position: relative !important;
}

.u-left0 {
  left: 0 !important;
}

.u-top0 {
  top: 0 !important;
}

.u-right0 {
  right: 0 !important;
}

.u-bottom0 {
  bottom: 0 !important;
}

.u-flex {
  display: flex !important;
}
.u-flexAlignItemsCenter {
  align-items: center !important;
}
.u-flexJustifyContentSpaceBetween {
  justify-content: space-between !important;
}